
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCookie</title>
</head>
<body>
    <div> 
    </div>
    <script>
        document.body.style.backgroundColor = '@Request.Cookies["ColorCookie"]["favColor"]';
    </script>
</body>
</html>
