
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>
    <div>
        <p>Username: @ViewBag.username</p>
        <p>Password: @ViewBag.password</p>
    </div>
</body>
</html>
