<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <style>
        .rectangle {
            width: max-content;
            border: solid;
            border-width: 5px;
            border-color: aqua;
            margin: auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Display", "index", "Student")</li>
                <li>@Html.ActionLink("Add", "Add", "Student")</li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
